.searchBar {
    margin: auto;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    color: rgb(227, 227, 248);
    font-family: helvetica, arial, sans;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(45, 45, 114, 0.4);
    padding: 5px;
  }
  .radioButtons {
    margin: auto;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    color: rgb(227, 227, 248);
    font-family: helvetica, arial, sans;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(45, 45, 114, 0.4);
    padding: 5px;
  }

 

  input[type="search"] {
    width: 90%;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid rgb(18, 24, 186);
    box-sizing: border-box;
    color: black;
    font-family: helvetica, arial, sans;
    text-align: left;
    
  }
  
  input[type="search"]:hover {
    padding: 10px;
    width: 90%;
    border-radius: 25px;
    border: 2px solid rgb(255, 0, 64);
    box-sizing: border-box;
    color: black;
    font-family: helvetica, arial, sans;
    text-align: left;
    
  }
  
  